<?xml version="1.0" encoding="utf-8"?>

<!-- 
<!DOCTYPE web-app PUBLIC
"-//Oracle Corporation//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd (Links to an external site.)">
 -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	
	<welcome-file-list>
		<welcome-file>ofyblog.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
	    <servlet-name>ofysubscribe</servlet-name>
	    <servlet-class>blog.OfySubscribeServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>ofysubscribe</servlet-name>
	    <url-pattern>/ofysubscibe</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>ofysign</servlet-name>
	    <servlet-class>blog.OfySignBlogServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	    <servlet-name>ofysign</servlet-name>
	    <url-pattern>/ofysign</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GAEJCronServlet</servlet-name>
		<servlet-class>com.gaejexperiments.cron.GAEJCronServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GAEJCronServlet</servlet-name>
		<url-pattern>/cron/dailyreport</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
</web-app>